body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  
}

#particles-js{
  z-index: 1000;
  background:#111111;
  height:100vh;
}



.wrapper{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  
}

.section{
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.one{
  
}
.two{
  background-color: goldenrod;
}
.three{
  background-color: palevioletred;
}