body{
  margin:0;
  font: normal 16px Arial, Helvetica, sand-serif;
  color:#333;
}

#particles-js{
  z-index: 1000;
  background:#111111;
  height:100vh;
}

#login{
  background:#fff;
  opacity:0.9;
  padding:2em;
  border:#ccc 2px solid;
  position:absolute;
  top:100px;
  left:50px;
}

#login input[type="text"], #login input[type="password"]{
  padding:7px;
  margin-bottom:10px;
  border:1px #ccc solid;
}

.wrapper{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  
}

.section{
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.one{
  background-color: #333;
}
.two{
  background-color: goldenrod;
}
.three{
  background-color: palevioletred;
}